.boxed {
  border-radius: 20px ;
  background-color: lightgrey;
  width:100%;
  border: 2px solid black;
  left: 0;
  padding-bottom: 10px;
}
.boxed:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}