.boxed {
  border-radius: 20px ;
  background-color: lightgrey;
  width:100%;
  border: 2px solid green;
  left: 0;
  padding-bottom: 10px;
}
.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.sm a i{
  /*color: #f2f2f2;*/
  width: 56px;
  font-size: 24px;
  transition: .3s linear;
  text-decoration: none;
}

.sm a i:hover{
  color: #e66767;
}
.boxed:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}