/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
    body{        
        /*padding-top: 100px;
        padding-bottom: 40px;*/
    }
    .container{
        width: 100%;
        /*margin: 0 auto;  Center the DIV horizontally */
    }
    .fixed-header, .fixed-footer{
        font-family: Consolas;
        width: 100%;
        /*position: fixed;      */
        background: #333;
        padding: 0px 0px;
        color: #fff;
        transition: all .3s ease;
        box-shadow:0 8px 16px rgba(0,0,0, .5);
        border-radius: 12px;
    }
    .fixed-header{
        top: 0;
        left: 0;
        right: 0;
        padding-bottom: 10px;
        margin-top: -7px;
    }

    .fixed-footer{
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        font-family: Consolas;
        padding: 5px;
        margin-bottom: -25px;
    }    
    /* Some more styles to beutify this example */
    nav a{
        font-family: Consolas;
        color: #fff;
        text-decoration: none;
        padding: 5px 20px;
        display: inline-block;
        border: 1px solid white;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        /*box-shadow: 0 2px 4px 0 white;*/
    }
    .container p{
        line-height: 200px; /* Create scrollbar to test positioning */
    }
    .container nav a:hover{
        border: 1px solid white;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        color: #e66767;
        box-shadow: 0 2px 4px 0 white;

    }
     .container nav{
        text-align: center;
     }
    .title a:hover{
        border: 1px solid white;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        color: #e66767;
        padding: 5px;
        box-shadow: 0 2px 4px 0 white;
    }
    .title a{
        /*border: 1px solid white;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;*/
        padding: 5px;
        /*box-shadow: 0 2px 4px 0 white;*/
        text-decoration: none;
        color: inherit;
        text-align: center;
        /*padding: 15px 10px 25px 10px;*/
        font-size: 30px;
        font-weight: bold;
    }

    .title
    {
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 15px 10px 25px 10px;
        font-size: 30px;
        font-weight: bold;
    }

    .fixedButton
    {
        position: fixed;
        bottom: 10px;
        right: 0px;
        padding: 20px;
    }
    .roundedFixedBtn
    {
        height: 60px;
        line-height: 60px;  
        width: 60px;  
        font-size: 3em;
        font-weight: bold;
        border-radius: 50%;
        background-color: #2c3a47;
        color: white;
        text-align: center;
        cursor: pointer;
        float: right;
    }
    .roundedFixedBtn:hover
    {
        background-color: #e66767;
        box-shadow: 0 2px 4px 0 white;
    }